<h1 class="center"> <%= @user.username %> </h1>

<br>

<div class="row">
  <div class="col-md-7">
    <h3> <%= @packages.count %> packages by <%= @user.username %></h3>
    <hr>
    <% if @packages && @packages.any? %>
      <% @packages.each do |package| %>
        <h4> <%= link_to "#{package.name}", package_path(package.name) %> </h4>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-5">
    <p>profile picture</p>

    <h3><b> <%= @user.full_name %> </b></h3>
    <hr>

    <% if @user.website %>
      <h3><b> <%= link_to "#{@user.website}", "http://#{@user.website}" %> </b></h3>
      <hr>
    <% end %>
    <% if @user.github_username %>
      <h3><b> <%= link_to "#{@user.github_username} on GitHub", "https://github.com/#{@user.github_username}" %> </b></h3>
      <hr>
    <% end %>
    <h3><b> <%= link_to "#{@user.username} on brick", "http://#{ENV["SITE_URL"]}/~#{@user.username}" %> </b></h3>
  </div>
</div>
